@model SubtitleViewModel

<div class="d-flex justify-content-between align-items-center">
    <h4 style="margin-bottom:0px;">@Model.Title</h4>
    <a asp-action="Index" class="btn btn-secondary">@Model.ButtonValue</a>
</div>